body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper-section {
    height: 20vh;
    width: 100vw;
    text-align: center;
    background-image: linear-gradient(rgba(255,255,255,0.5),
    rgba(255,255,255,0.5)), url(Imagenes/home.jpg);
    background-position: center;
    background-size: cover;    
    padding: 30px;
    flex: 1;
}

.upper-section h1 {
    width: 50%;
    margin: auto;
    font-size: 50px;
    border: solid;
    border-color: black;
    border-style: double;
    font-weight: bold;
    background-color:rgb(136, 46, 46);
}

.upper-section h3 {
    font-size: 30px ;
}

.welcome{
    font-size: 20px ;
}

.lower-section {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    background-color: #0d0606;
    flex: 1;
}

.lower-section button {
    flex-grow: 1; 
    width: 300px;
  }

.left-section,
.right-section,
.middle-section {
    text-align: center;
    margin-bottom: 20px;
    flex: 1;
}

button {
    padding: 20px 40px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    background-color: rgb(136, 46, 46);
    color: #fff;
    border-radius: 5px;
}

button a{
    text-decoration: none;
    color: inherit;
}

button:hover {
    background-color: #2980b9;
}

footer {
    background-color: rgb(136, 46, 46);
    padding: 10px;
    width: 105vw;
    height: 10vh;
    justify-content: space-between;
    align-items: start;
    text-align: start;
    
}

footer div {
    display: inline-block;
    margin: -10px 20px;
}


